.pusher{
    margin-left: 200px;
}
p{
    color: white;
    margin-left: 20px;
}

body{
    background-color: #1b1c1d;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

nav li {
	display: inline-block;
	padding: 10px;
}
.round {
	float: left;
	margin-left: 220px;
  }
.bracket-game {
	max-width: 125px;
	padding: 5px 0;
}
.player {
	min-width: 100px;
	border: 1px solid #aaaaaa64;
	padding-left: 10px;
	background: #EEE;
	height: 22px;
}
.player.top {
	border-radius: 3px 3px 0 0;
}
.player.bot {
	border-radius: 0 0 3px 3px;
}
input.score{
	display: inline;
	float: right;
	border-left: 1px solid #AAA;
	padding: 0px;
	background: #EEE;
	border: none;
	box-sizing: border-box;
	width: 50%;
	height: 20px;
}
.player .score{
	display: inline;
	float: right;
	border-left: 1px solid #AAA;
	padding-left: 10px;
	padding-right: 10px;
	background: #EEE;
}

.player.win {
	background-color: #B8F2B8;
}
.player.loss {
	background-color: #F2B8B8;
}
.connectors {
	float: left;
	min-width: 35px;
}
.top-line {
    height: 1px;
    border: 1px solid #AAA;
    margin: 52px 0px;
}
.bottom-line {
    height: 1px;
    border: 1px solid #AAA;
    margin: 51px 0px;
}
.vert-line {
	height: 56px;
	border-left: 2px solid #AAA;
	margin: 52px 0px;
}
